<div class="flex flex-col items-center gap-4">
  <div class="flex justify-center">
    <button
      pButton
      [class]="customClass()"
      [rounded]="rounded()"
      [severity]="severity()"
      [variant]="variant()"
    >
      {{ buttonText() | translate }}
    </button>
  </div>
  @if (showIcon()) {
    @if (iconPosition() == 'left') {
      <div class="flex flex-wrap gap-4 justify-center">
        <button
          pButton
          [class]="customClass()"
          [rounded]="rounded()"
          [severity]="severity()"
          [variant]="variant()"
        >
          <i class="pi" [class]="iconName()"></i> {{ buttonText() | translate }}
        </button>
      </div>
    }
    @if (iconPosition() == 'right') {
      <div class="flex flex-wrap gap-4 justify-center">
        <button
          pButton
          [class]="customClass()"
          [rounded]="rounded()"
          [severity]="severity()"
          [variant]="variant()"
        >
          {{ buttonText() | translate }} <i class="pi" [class]="iconName()"></i>
        </button>
      </div>
    }
    @if (iconOnly()) {
      <div class="flex flex-wrap gap-4 justify-center">
        <button
          pButton
          [class]="customClass()"
          [rounded]="rounded()"
          [severity]="severity()"
          [variant]="variant()"
          iconOnly
          [attr.aria-label]="'common.actions.save' | translate"
        >
          <i class="pi" [class]="iconName()"></i>
        </button>
      </div>
    }
  }
</div>
